alias V=sudo\ nvim

alias vz='v ~/.zshrc'
alias vp='v ~/.zprofile'
alias va='v ~/.aliases'
alias vf='v ~/.functions'
alias VH='V /etc/hosts'

alias lh=~/bin/lh.pl

alias ts="date +%Y%m%d%H%M%S"
alias gt='export TAG=`date +%Y-%m-%d` && git pull && git tag -f $TAG && git push --tags'

alias vv='v $(pbpaste)'
alias ce="VISUAL=cronvim crontab -e"

alias be="bundle exec"

alias cldns="sudo killall -HUP mDNSResponder"

alias b="say -v fred beep beep"
#alias k="java -jar $(brew list kotlin | head -1 | cut -d/ -f1-6)/libexec/lib/kotlin-compiler.jar -script"

alias ls="eza --group-directories-first --icons=auto"
alias l=ls
alias ll="ls -l --group-directories-first --smart-group"
alias la="ll -a"
alias laa="la -a"

alias cat=bat
alias rm="rm -rf"

alias rg='rg -M $(($COLUMNS - 28))'
alias rgg="rg -M0"

alias mkdir='mkdir -p'

# vim: ft=zsh
