alias v=nvim-qt
alias V=sudo\ nvim

alias vz='v ~/.zshrc'
alias vp='v ~/.zprofile'
alias va='v ~/.aliases'
alias vf='v ~/.functions'

alias lh=~/bin/lh.pl

alias ts="date +%Y%m%d%H%M%S"
alias gt='export TAG=`date +%Y-%m-%d` && git pull && git tag -f $TAG && git push --tags'

alias vv='v $(pbpaste)'
alias ce="VISUAL=cronvim crontab -e"

alias be="bundle exec"

alias cldns="sudo killall -HUP mDNSResponder"

alias b="say -v fred beep beep"
#alias k="java -jar $(brew list kotlin | head -1 | cut -d/ -f1-6)/libexec/lib/kotlin-compiler.jar -script"

alias ls="gls --group-directories-first --color=tty"

alias cat=bat
alias rm="rm -rf"

if [ -f ~/work/.aliases ]; then
	. ~/work/.aliases
fi

# vim: ft=zsh
