alias ag="ag --smart-case --follow --color-match '35' --color-path '36' --ignore vendor/assets"

alias V=sudo\ $VISUAL

alias sb='. ~/.bash_profile'
alias vb='v ~/.bash_profile'
alias vz='v ~/.zshrc'
alias VH='V /etc/hosts'

alias gh=~/bin/gh.sh
alias lh=~/bin/lh.pl

alias ts="date +%Y%m%d%H%M%S"
alias gt='export TAG=`date +%Y-%m-%d` && git pull && git tag -f $TAG && git push --tags'

alias vv='mvim --servername $PWD -S .git/.vimsession'
alias ce="VISUAL=cronvim crontab -e"

alias ag="ag --smart-case --follow --color-match '35' --color-path '36' --ignore vendor/assets"

alias be="bundle exec"

alias cldns="sudo killall -HUP mDNSResponder"

alias sudo='sudo '

function git(){hub $@}

alias b="say -v zarvox beep beep"

alias ss="spring stop"

# vim: set syntax=zsh:
