$include /etc/inputrc
set show-all-if-ambiguous on
set completion-ignore-case on

set keymap vi-insert
"\C-l": clear-screen
"\C-a": beginning-of-line
"\C-e": end-of-line
"\C-k": kill-line
"\e[5C": forward-word
"\e[5D": backward-word

"\e[A": history-search-backward
"\e[B": history-search-forward

"\t": menu-complete
"\e[Z": menu-complete-backward

set keymap vi
"\C-l": clear-screen
"\C-a": beginning-of-line
"\C-e": end-of-line
"\C-k": kill-line
"\e[5C": forward-word
"\e[5D": backward-word

"\e[A": history-search-backward
"\e[B": history-search-forward

"\t": menu-complete
"\e[Z": menu-complete-backward

set editing-mode vi
